{% extends 'app_agencia_de_viajes/base.html' %}

{% block title %}Ver Clientes{% endblock %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h2>Ver Clientes</h2>
                    <a href="{% url 'agregar_cliente' %}" class="btn btn-primary">Agregar Cliente</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Email</th>
                                    <th>Teléfono</th>
                                    <th>Dirección</th>
                                    <th>Fecha de Registro</th>
                                    <th>Preferencias de Viaje</th>
                                    <th>Pasaporte</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cliente in clientes %}
                                <tr>
                                    <td>{{ cliente.id_cliente }}</td>
                                    <td>{{ cliente.nombre }}</td>
                                    <td>{{ cliente.apellido }}</td>
                                    <td>{{ cliente.email }}</td>
                                    <td>{{ cliente.telefono }}</td>
                                    <td>{{ cliente.direccion }}</td>
                                    <td>{{ cliente.fecha_registro }}</td>
                                    <td>{{ cliente.preferencias_viaje }}</td>
                                    <td>{{ cliente.pasaporte }}</td>
                                    <td>
                                        <a href="{% url 'actualizar_cliente' cliente.pk %}" class="btn btn-warning btn-sm">Actualizar</a>
                                        <a href="{% url 'eliminar_cliente' cliente.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
