{% extends 'app_agencia_de_viajes/base.html' %}

{% block title %}Actualizar Paquete Turístico{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-header bg-primary text-white text-center">
                    <h3 class="my-3">Actualizar Paquete Turístico</h3>
                </div>
                <div class="card-body p-5">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">{{ form.nombre_paquete.label_tag }} {{ form.nombre_paquete }}</div>
                        <div class="mb-3">{{ form.descripcion.label_tag }} {{ form.descripcion }}</div>
                        <div class="mb-3">{{ form.fecha_inicio.label_tag }} {{ form.fecha_inicio }}</div>
                        <div class="mb-3">{{ form.fecha_fin.label_tag }} {{ form.fecha_fin }}</div>
                        <div class="mb-3">{{ form.id_destino.label_tag }} {{ form.id_destino }}</div>
                        <div class="mb-3">{{ form.precio_adulto.label_tag }} {{ form.precio_adulto }}</div>
                        <div class="mb-3">{{ form.precio_nino.label_tag }} {{ form.precio_nino }}</div>
                        <div class="mb-3">{{ form.cupo_maximo.label_tag }} {{ form.cupo_maximo }}</div>
                        <div class="mb-3 form-check">{{ form.incluye_vuelo }} {{ form.incluye_vuelo.label_tag }}</div>
                        <div class="mb-3 form-check">{{ form.incluye_alojamiento }} {{ form.incluye_alojamiento.label_tag }}</div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="submit" class="btn btn-primary btn-lg">Actualizar Paquete</button>
                            <a href="{% url 'ver_paquetes_turisticos' %}" class="btn btn-secondary btn-lg">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
