{% extends 'app_agencia_de_viajes/base.html' %}

{% block title %}Actualizar Reserva{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-header bg-primary text-white text-center">
                    <h3 class="my-3">Actualizar Reserva</h3>
                </div>
                <div class="card-body p-5">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="submit" class="btn btn-primary btn-lg">Actualizar Reserva</button>
                            <a href="{% url 'ver_reservas' %}" class="btn btn-secondary btn-lg">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
